
@media(max-width:1450px){
   .feelslike_box{
      height:27vmin;
   }
   .humidity_box{
      height: 27vmin;
   }
   .windkph_box{
      height:27vmin;
   }
  
}

@media(max-width:1380px){
   #logoname{
       padding:2.2vmin;
   }
}
@media(max-width:1050px){
   #logoimg{
       width:5vw;
   }
   .feelslike_box{
       width:19vw;
       height:26vmin;
    }
    .humidity_box{
       width:19vw;
       height: 26vmin;
    }
    .windkph_box{
       width:19vw;
       height:26vmin;
    }
}
@media(max-width:870px){
    .icons{
       width:8vw;
    }
    #weather_img{
        width:31vw;
    }
  }
@media(max-width:650px){
    .temperature{
       padding-top:0px;
    }
    .feelslike_box{
       height:25vmin;
       width:22vw;
    }
    .humidity_box{
       height:25vmin;
       width:22vw;
    }
    .windkph_box{
       height:25vmin;
       width:22vw;
    }
    .container2{
        padding-top:0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #weather_img{
        height:33vmin;
        width:33vw;
    }
    .container3{
        font-size:3.2vw;
     }
     .icons{
        margin-bottom:8px;
        width:10vw;
     }
}
@media(max-width:470px){
    .container3{
       margin-top:32px;
    }
    .icons{
       margin-bottom:8px;
       width:10vw;
    }
  }
@media(max-width:370px){
   .searchbox{
       margin-top:-2px;
   }
   .icons{
    margin-bottom:6px;
    
 }
}
@media(max-width:310px){
    .icons{
        margin-bottom:5px;
    }
    .container3{
      margin-top:20px;
   }
   .searchbox{
      margin-top:-4px;
  }
 }

